# Ignore macOS system files
.DS_Store
.CFUserTextEncoding

# Ignore Android Studio related files
*.iml
.gradle
/local.properties
/.idea/
/build
/captures
.externalNativeBuild

# Ignore personal configuration files
*.profile
*.bash*
*.zsh*
*.history
.config
.cache

# Add any other files or directories you want to ignore
